---
layout: base
---

<div id="index-container">
    {% for image in site.static_files %}
    {% if image.path contains 'images/slider' %}
    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
    {% endif %}
    {% endfor %}
    <div id="title-container">

        {% if site.data.user-config.show-image == true and site.data.user-config.image-above-title == true %}
        <img id="title-image" src="user-image.png" alt="{{ site.data.user-config.title }}">
        {% endif %}

        {% if site.data.user-config.show-title %}
        <h1 id="title-text">{{site.data.user-config.title}}</h1>
        {% endif %}

        {% if site.data.user-config.show-image == true and site.data.user-config.image-above-title == false %}
        <img id="title-image" src="user-image.png" alt="{{ site.data.user-config.title }}">
        {% endif %}
    </div>
    <div id="menu-links">
        {% for item in site.data.user-config.links %}
        <a class="menu-link" href={{item.url}}>{{item.title}}</a>
        {% endfor %}
    </div>
    <script src="/fitty.min.js"></script>
    <script>
        fitty('#title-text', {
            minSize: 12,
            maxSize: 300,
        });
    </script>
</div>

<style>
    /* make the contents arrange themselves horizontally with 2rem space in between */
    #menu-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    #index-container {
        width: 90%;
    }

    #title-container {
        margin-bottom: 1rem;
    }

    #title-text {
        margin-bottom: .3em;
    }

    #menu-links a,
    #menu-links a:visited,
    #menu-links a:active,
    #menu-links a:focus,
    #menu-links a:hover {
        margin: 0 1em;
        text-decoration: none;
    }

    /* add a media query at 600px that stacks the links in the links div vertically */
    @media (max-width: 600px) {
        #menu-links {
            flex-direction: column;
        }

        #menu-links a {
            margin: 1em 0;
        }
    }
</style>