---
layout: base
---
<div id="index-container">
    <div id="title-container">
        {% if site.data.user-config.show-title == true %}
        <h1 id="title-text">{{site.data.user-config.title}}</h1>
        {% endif %}
        <!-- images above intro text -->
        {% if site.data.user-config.show-images == true and site.data.user-config.images-above-intro-text == true %}
        {% for image in site.data.user-config.images %}
        <img class="title-image" src="/user-images/{{image.url}}" alt="{{image.alt}}">
        {% endfor %}
        {% endif %}
        <!-- first assign the images to a variable -->
        {% assign images = site.static_files | where_exp:"item", "item.path contains 'assets/images'" %}
        {% assign images = images | sort: 'name' %}
        {% assign columnCount = 3 %}
        {% assign currentIndex = 0 %}
        <div id="masonry-container">
            {% for i in (1..columnCount) %}
            <div class="masonry-column">
                {% for image in images %}
                {% if currentIndex == 0 %}
                <img class="title-image" src="{{ image.path }}" alt="{{ image.name }}">
                {% endif %}
                {% assign currentIndex = currentIndex | plus: 1 %}
                {% if currentIndex == columnCount %}
                {% assign currentIndex = 0 %}
                {% endif %}
              {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% capture my_include %}{% include_relative user-intro-text.md %}{% endcapture %}
        {% if my_include != "" and site.data.user-config.show-intro-text == true %}
        <div id="intro-text">
            {{ my_include | markdownify }}
        </div>
        {% endif %}
        <!-- images below intro text -->
        {% if site.data.user-config.show-images == true and site.data.user-config.images-above-intro-text == false %}
        {% for image in site.data.user-config.images %}
        <img class="title-image" src="/user-images/{{image.url}}" alt="{{image.alt}}">
        {% endfor %}
        {% endif %}
    </div>
    {% if site.data.user-config.show-links == true %}
    {% if site.data.user-config.vertical-links == false %}
    <div id="menu-links">
        {% for item in site.data.user-config.links %}
        <a class="menu-link" href="{{ item.url }}">{{ item.title }}</a>
        {% endfor %}
    </div>
    {% else %}
    <div id="menu-links-vertical">
        {% for item in site.data.user-config.links %}
        <a class="menu-link" href="{{ item.url }}">{{ item.title }}</a>
        {% endfor %}
    </div>
    {% endif %}
    {% endif %}
</div>
<style>
#masonry-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.masonry-column {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}

.masonry-column img {
    /* width: 100%; */
    margin-bottom: 1rem;
}

    /* make the contents arrange themselves horizontally with 2rem space in between */
    #menu-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    #menu-links-vertical {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #menu-links a {
        margin-left: 1em;
        margin-right: 1em;
    }

    #menu-links-vertical a {
        margin-bottom: 1em;
    }

    #index-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: var(--margin);
    }

    #title-container {
        margin-bottom: 1rem;
    }

    #title-text {
        margin-bottom: .3em;
    }

    #menu-links a,
    #menu-links a:visited,
    #menu-links a:active,
    #menu-links a:focus,
    #menu-links a:hover,
    #menu-links-vertical a,
    #menu-links-vertical a:visited,
    #menu-links-vertical a:active,
    #menu-links-vertical a:focus,
    #menu-links-vertical a:hover {
        text-decoration: none;
    }

    /* add a media query at 600px that stacks the links in the links div vertically */
    @media (max-width: 900px) {
        #menu-links {
            flex-direction: column;
        }

        #menu-links a {
            margin-bottom: 1em;
        }
    }
</style>
